.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
  padding: 30px 12px;
  background-color: #20B2E8;
}

.header-container * {
  font-size: 17px;
  color: white;
  font-weight: 500;
}

.email-field {
  margin-left: 10px;
}

.expenses-value-info {
  display: flex;
  width: fit-content;
  height: 40px;
  padding: 0 10px;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 30px;
  gap: 10px;
  margin-right: 30px;
  transition: 0.3s ease-in-out;
}

.expenses-value-info:hover {
  transform: scale(1.03);
}

.expenses-value-info p {
  color: #20B2E8;
}

@media screen and (max-width: 500px) {
  .header-container {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }

  .expenses-value-info {
    justify-content: flex-start;
    margin-left: 10px;
  }
}